{:kinesis-client
 {:name "sabe"
  :version "0.1.0"
  :region "eu-west-1"
  :credentials-profile "sabe"}

 :system-app
 {:name "system-app"
  :version "0.1.0"                      ; These are the defaults but are shown
  :region "eu-west-1"                   ; here to illustrate that they can be
  :credentials-profile "sabe"           ; overridden per app
  :input-stream "msg-input"
  :output-stream "msg-output"}

 :direct-debit-app
 {:name "direct-debit-app"
  :input-stream "msg-input"
  :output-stream "msg-output"}

 ;; :input-logging-app
 ;; {:name "input-logging-app"
 ;;  :stream "msg-input"}

 ;; :output-logging-app
 ;; {:name "output-logging-app"
 ;;  :stream "msg-output"}

 :webserver-output-app
 {:name "webserver-output-app"
  :stream "msg-output"}

 :webserver
 {:port 8080
  :client-write-timeout 10000
  :input-stream "msg-input"
  :output-stream "msg-output"}}
